{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Beneficiaires {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">centre de formations++</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Beneficiaires</li>
                    </ol>
                </nav>
                <h2 class="h4">Beneficiaires</h2>
                <p class="mb-0">Liste des Beneficiaires</p>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'exportcsv_beneficiaires' %}" >Exporter</a>
                </div>
            </div>
        </div>

        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <form action="{% url 'beneficiaires' %}" method="get">
                        <div class="input-group">
                            <span class="input-group-text" nom="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" name="search" class="form-control" placeholder="Rechercher par Nom ou Client">
                        </div>
                    </form>
                </div>
				<div class="col-7">
				<a class="btn btn-primary" href="{% url 'create_beneficiaire' %}">Nouveau</a>	
                </div>
                
            </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
					<th>CN</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Client</th>
                </tr>
                </thead>
                <tbody>
                <!-- Item -->
                {% if beneficiaires is not True %}
                    {% for beneficiaire in beneficiaires %}
                        <tr class="item-row" data-edit="{% url 'beneficiaires' beneficiaire.id 'edit' %}"
                            data-detail="{% url 'beneficiaires' beneficiaire.id %}">
							<td><span class="font-weight-bold">{{ beneficiaire.CN }}</span></td>
                            <td><span class="font-weight-bold">{{ beneficiaire.nom }}</span></td>
							<td><span class="font-weight-bold">{{ beneficiaire.prenom }}</span></td>
							<td><span class="font-weight-bold">{{ beneficiaire.email }}</span></td>
							<td><span class="font-weight-bold">{{ beneficiaire.phone}}</span></td>
							<td><span class="font-weight-bold">{{ beneficiaire.client }}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit_item"
                                           href="{% url 'beneficiaires' beneficiaire.id 'edit' %}">
                                            <span class="fas fa-edit mr-2"></span>Editer
                                        </a>
                                        <a class="dropdown-item text-danger delete_item"
                                           data-href="{% url 'beneficiaires' beneficiaire.id %}">
                                            <span class="fas fa-trash-alt mr-2"></span>Supprimer
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            {{ beneficiaires.pagination }}

        </div>

        

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
