{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Comptes Planification des Ressources {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                        <li class="breadcrumb-item"><a href="#">centre de formation++</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Planification des Ressources</li>
                    </ol>
                </nav>
                <h2 class="h4">Comptes Planification des Ressources</h2>
                <p class="mb-0">Liste des Comptes</p>
            </div>
        </div>

        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Compte</th>
                </tr>
                </thead>
                <tbody>
                <!-- Item -->
                {% for p in ps %}
                        <tr class="item-row">
							<td><span class="font-weight-bold">{{p.get_name}}</span></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit_item"
                                           href="{% url 'approve-ps' p.id  %}" >
                                            <span class="fas fa-edit mr-2"></span>Approuver
                                        </a>
                                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            

        </div>

        

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
